<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jingweng.demo.springboot2.mapper.UserTokenMapper">
    <select id="findToken" parameterType="Map" resultType="jingweng.demo.springboot2.entity.UserToken">
        select *
        from User_Token
        where token = #{token}
    </select>

    <select id="findID" parameterType="Map" resultType="jingweng.demo.springboot2.entity.UserToken">
        select *
        from User_Token
        where id = #{id}
    </select>

    <insert id="addUserToken" parameterType="jingweng.demo.springboot2.entity.UserToken">
            insert into User_Token (id, token) VALUES (#{id},#{token});
    </insert>

    <delete id="delToken" parameterType="jingweng.demo.springboot2.entity.UserToken">
        delete from User_Token
        where id = #{id}
    </delete>
</mapper>